

#wp-products {
    padding-top:40px;
    padding-left:134px;
    padding-right:134px;
    display: flex;
}

#wp-products h2 {
    text-align: center;
    margin-bottom: 76px;
    font-size:32px;
    color:#626a67;
}


#list-products {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#list-products .item {
    padding: 5px;

    width: 290px;
    height: 374px;
    background:#362f2f;
    border-radius: 10px;
    margin-bottom: 50px;
}

#list-products .item img {
    display: block;
    margin:0px auto;
    margin-top:17px;
}

#list-products .item .stars {

    display: flex;
    margin:0px auto;
    width: 50%;
}

#list-products .item .name {
    text-align: center;
    color:#fff;
    font-weight: bold;
    margin-top:21px;
}

#list-products .item .desc {
    text-align: center;
    color:#626a67;
}

#list-products .item .price {
    text-align: center;
    color:#f42424;
    font-weight: bold;
    margin-top:20px;
}
.product-page{
    margin-top: 50px;
}
.product-page h2{
    text-align: center;
}
.search-box {
    text-align: center;
}

.search-box input {
    padding: 5px 10px;
    height: 25px;
    width: 400px;
    border: 2px solid rgb(28, 205, 28);
    border-radius: 20px;
    font-size: 16px;
}
 
.search-box button{
    margin-left: 10px;
    /* padding: 5px 10px; */
    height: 40px;
    width: 100px;
    border-radius: 20px;
    border: 2px solid rgb(28, 205, 28);
    background-color: rgb(28, 205, 28);
    color: white;
    font-size: 18px;

}
.search-box button:hover{
    color: yellow;
}