/* body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
} */

.product-page {
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.search-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    text-align: center;
}

.search-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.search-form {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.search-input {
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #1ccc1c;
    border-radius: 20px;
    width: 300px;
    transition: all 0.3s ease;
}

.search-input:focus {
    outline: none;
    border-color: #00a600;
}

.search-button {
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #1ccc1c;
    border-radius: 20px;
    background-color: #1ccc1c;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.search-button:hover {
    background-color: #00a600;
    border-color: #00a600;
}

.product-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#wp-products {
    padding: 20px;
}

#list-products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    padding: 0;
}

.item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    /* width: calc(33.333% - 20px); */
    padding: 10px , 5px;
}

.item:hover {
    transform: translateY(-5px);
}

.product-image {
    width: 100%;
    height: auto;
}

.stars {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.name {
    text-align: center;
    font-weight: bold;
    margin: 10px 0;
    font-size: 18px;
    color: #333;
}

.desc {
    text-align: center;
    color: #666;
    padding: 0 10px;
}

.price {
    text-align: center;
    color: #e74c3c;
    font-weight: bold;
    margin: 10px 0 20px 0;
}
